body{
    background-color:rgb(182, 134, 134);
}
.to-do-list{
    font-family: arial,sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: whitesmoke;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.add-button{
    background-color: hsl(120, 65%, 48%);
    
}
.add-button:hover{
    background-color: hsl(120, 72%, 38%);
    
}
.delete-button{
    background-color: hsl(0, 63%, 51%);
    
}
.delete-button:hover{
    background-color: hsl(0, 63%, 41%);
    
}
.move-button{
    background-color: hsl(204, 63%, 51%);
    
}
.move-button:hover{
    background-color: hsl(204, 63%, 41%);
    
}

input[type="text"]{
    font-size: 1.6rem;
    padding:10px;
    border-color: 2px solid hsla(0, 7%, 21%, 0.5);
    border-radius: 5px;
    color: rgb(27, 21, 21);

}
ol{
    padding: 0%;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding:15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size:1rem;
    margin-left: 10px;
}